{% extends 'sns/base.html' %}

{% block body %}
{% include 'sns/_forms.html' %}
<hr>
    {% if postings %}
        <section class="card-columns">
            {% for posting in postings %}
                <article class="card mb-2">
                    <a href="{% url 'sns:posting_detail' posting.id %}">
                        <img src="{{ posting.image_thumbnail.url }}" alt="{{ posting.image }}"
                             class="card-img-top image-fluid">
                    </a>
                    <div class="card-body">
                        <i>{{ posting.icon }}</i>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}